# Ignore node_modules folder
node_modules

# Ignore environment variables
.env

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore MacOS-specific system files
.DS_Store

# Ignore the package-lock.json if you prefer using yarn
package-lock.json

# Ignore Puppeteer Chromium cache
.puppeteer/

# Ignore build artifacts
build/
dist/

# Ignore Render deployment files (optional, depending on your config)
render.yaml
